.memory-item {
    width: 60px;
    height: 60px;
    margin: 8px;
    border: 1px solid rgba(11, 21, 30, 0.5);
    border-radius: 24px;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.memory-item--active {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
}

.memory-item--removed {
    border: none;
}